<h1> <%= @specialist.full_name %></h1>
<p> <%= @specialist.user.email %> </p>
<p><%= @specialist.bio %></p>
<p><%= @specialist.work_experience %></p>
<%= link_to 'see treatments', specialist_treatments_path(@specialist), class: 'btn btn-primary' %>
