
<div class="navbar-hometreat" id="nav">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-hometreat-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-hometreat-right">

    <% if user_signed_in? %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-hometreat-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-hometreat-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-hometreat-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "  My profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to profile_agenda_index_path do %>
                <i class="fa fa-calendar"></i> <%= t(".agenda", default: " My agenda") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>

    <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "ï‚"), new_user_session_path, class: "navbar-hometreat-item navbar-hometreat-login" %>
    <% end %>
  </div>
</div>

<% if user_signed_in? == true %>
  <script type="text/javascript">
document.getElementById("nav").style.backgroundImage = "url(<%= asset_path('ht_navbar.jpg') %>)"
</script>
  <%= render 'shared/searchbar' %>
<% end %>
