<div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="videobanner">
          <%= video_tag "body.webm", :loop => true, :autoplay => true, poster: "ht_banner.jpg", class: "video" %>
          <%= video_tag "body.mp4", :loop => true, :autoplay => true, poster: "ht_banner.jpg", class: "video" %>
        </div>
        <div class="getyour">Get your treatment. Anytime. Anywhere.</div>
      </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title_1"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title_1"></div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title_2"><i>Home is where your story begins</i></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="subtitle_2 parallax_bg_floor"><br><br><br><br><br></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
  </div>



 <!-- When user logs in, search fields and button become hidden so user only sees searchbar on top of the page  -->
<!--
  <% if user_signed_in? == false %>
      <form method='GET' action="<%= specialists_path %>">
         <div class="input-wrapper bootstrap-select-special input-group.first">
           <div class="container">
             <div class="row">
               <%= render 'shared/search_treatment' %>
               <%= render 'shared/search_date' %>
               <%= render 'shared/search_price' %>
               <%= render 'shared/search_location' %>
             </div>
           </div>
         </div>
         <div>
           <div class="container">
             <div class="row">
               <div class="col-xs-12 col-sm-12 col-lg-12">
                 <button type="submit" class="btn-search"><i class="fa fa-search btn-search-circle"></i>  Search</button>
               </div>
             </div>
           </div>
          </div>
         </div>
       </form>
    </div>
  </div>
<% end %>
 -->
