<h1>Availabilities#new</h1>
<p>Find me in app/views/availabilities/new.html.erb</p>
<%= simple_form_for [:profile, @availability], url: profile_agenda_index_path do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :location %>
  <%= f.input :range %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

