
<div class="container">
  <div class="row confirm-booking-summary">
    <p>Please confirm your appointment with <%= @appointment.specialist.full_name %> on <%= @appointment.start_time.strftime("%a %d %b %y") %> at <%= @appointment.start_time.strftime("%H:%M h") %> in <%= @appointment.location %></p>
    </div>

    <div class="row">
      <div class="columns confirm-booking-left-box">
        <ul class="price">
          <li class="grey">Treatment</li>
          <% @appointment.treatments.each do |treatment| %>
          <li><%= treatment.description %></li>
          <% end %>
          <li>VAT (6%)</li>
          <li><strong>Total price</strong></li>
        </ul>
      </div>

      <div class="columns text-center">
        <ul class="price">
          <li class="grey">Duration</li>
          <% @appointment.treatments.each do |treatment| %>
          <li><%= treatment.duration %> min</li>
          <% end %>
          <li> <br></li>
          <li> <br></li>
        </ul>
      </div>

      <div class="columns text-center">
        <ul class="price">
          <li class="grey">Price</li>
          <% @appointment.treatments.each do |treatment| %>
          <li>€ <%= number_with_precision(treatment.price, :precision => 2) %></li>
          <% end %>

          <% treatment_vat_total = 0 %>
          <% @appointment.treatments.each do |treatment| %>
          <% treatment_vat_total += treatment.price * 0.06 %>
          <% end %>
          <li>€ <%= number_with_precision(treatment_vat_total, :precision => 2) %></li>

          <% treatment_total = 0 %>
          <% @appointment.treatments.each do |treatment| %>
          <% treatment_total += treatment.price * 1.06 %>
          <% end %>
          <li><strong>€ <%= number_with_precision(treatment_total, :precision => 2) %></strong></li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <a href="confirm" class="button button-appointment-form" >Confirm booking</a>
    </div>
  </div>
